
{% load static %}

<div class="py-12 lg:py-24">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">
                <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl lg:text-5xl tracking-tight">
                    Mental health, <span class="text-indigo-600">reimagined for students</span>
                </h2>
                <p class="mt-4 text-lg text-gray-500">
                    Helping your students succeed and thrive with the help of licensed therapists and a community of peers. When and where they need it most.
                </p>
                <div class="mt-6">
                    <a href="#" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Join now
                    </a>
                </div>
            </div>
            <div class="mt-12 lg:mt-0 relative">
                <div class="relative mx-auto lg:max-w-md">
                    <div class="absolute top-0 left-0 transform -translate-x-1/4 -translate-y-1/4 w-24 h-24 bg-indigo-100 rounded-full opacity-50"></div>
                    <div class="absolute bottom-0 right-0 transform translate-x-1/4 translate-y-1/4 w-16 h-16 bg-yellow-100 rounded-full opacity-50"></div>

                    <div class="relative rounded-lg shadow-lg overflow-hidden">
                        <div class="grid grid-cols-2 gap-4">
                            <div class="relative row-span-2">
                                <img class="absolute inset-0 h-full w-full object-cover rounded-tl-lg rounded-bl-lg" src="{% static 'images/1.png' %}" alt="Happy student 1">
                                <div class="absolute top-2 left-2 bg-green-400 text-white rounded-full w-8 h-8 flex items-center justify-center">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                </div>
                            </div>
                            <div class="relative">
                                <img class="absolute inset-0 h-full w-full object-cover rounded-tr-lg" src="{% static 'images/student_smiling_1.jpg' %}" alt="Smiling student 1">
                                <div class="absolute top-2 right-2 bg-indigo-400 text-white rounded-full w-8 h-8 flex items-center justify-center">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.914A5 5 0 0010 17.94V18v-2.09c3.454-1.086 6.13-3.246 6.292-5.294A5 5 0 0012 11z" clip-rule="evenodd"></path></svg>
                                </div>
                                <div class="absolute top-2 left-2 bg-orange-400 text-white rounded-full w-8 h-8 flex items-center justify-center">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.914A5 5 0 0010 17.94V18v-2.09c3.454-1.086 6.13-3.246 6.292-5.294A5 5 0 0012 11z" clip-rule="evenodd"></path></svg>
                                </div>
                            </div>
                            <div class="relative">
                                <img class="absolute inset-0 h-full w-full object-cover rounded-br-lg" src="{% static 'images/student_laughing_1.jpg' %}" alt="Laughing student 1">
                                <div class="absolute bottom-2 right-2 bg-blue-400 text-white rounded-full w-8 h-8 flex items-center justify-center">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.914A5 5 0 0010 17.94V18v-2.09c3.454-1.086 6.13-3.246 6.292-5.294A5 5 0 0012 11z" clip-rule="evenodd"></path></svg>
                                </div>
                            </div>
                        </div>

                        <div class="absolute top-4 right-4 bg-red-500 text-white text-xs font-semibold rounded-full px-2 py-1">
                            LIVE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>